<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="org.eclipse.che.jdt.ls.extension.core.internal.CheDelegateCommandHandler">
            <command id="che.jdt.ls.extension.detectTest"/>
            <command id="che.jdt.ls.extension.findTestByCursor"/>
            <command id="che.jdt.ls.extension.findTestFromProject"/>
            <command id="che.jdt.ls.extension.findTestFromFolder"/>
            <command id="che.jdt.ls.extension.findTestFromEntry"/>
            <command id="che.jdt.ls.extension.findTestInFile"/>
            <command id="che.jdt.ls.extension.resolveClasspath"/>
            <command id="che.jdt.ls.extension.outputDir"/>
            <command id="che.jdt.ls.extension.externalLibraries"/>
            <command id="org.eclipse.che.jdt.ls.extension.filestructure"/>
            <command id="che.jdt.ls.extension.libraryContentURL"/>
            <command id="che.jdt.ls.extension.libraryContentByFQN"/>
            <command id="che.jdt.ls.extension.libraryContentByPath"/>
            <command id="che.jdt.ls.extension.libraryEntry"/>
            <command id="che.jdt.ls.extension.libraryChildren"/>
            <command id="che.jdt.ls.extension.externalLibrariesChildren"/>
            <command id="che.jdt.ls.extension.externalLibraries"/>
       </delegateCommandHandler>
   </extension>
</plugin>
