<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
    <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
        <delegateCommandHandler class="org.eclipse.che.jdt.ls.extension.core.internal.CheDelegateCommandHandler">
            <command id="che.jdt.ls.extension.detectTest"/>
            <command id="che.jdt.ls.extension.findTestByCursor"/>
            <command id="che.jdt.ls.extension.findTestFromProject"/>
            <command id="che.jdt.ls.extension.findTestFromFolder"/>
            <command id="che.jdt.ls.extension.findTestFromEntry"/>
            <command id="che.jdt.ls.extension.findTestInFile"/>
            <command id="che.jdt.ls.extension.resolveClasspath"/>
            <command id="che.jdt.ls.extension.outputDir"/>
            <command id="che.jdt.ls.extension.effectivePom"/>
            <command id="che.jdt.ls.extension.reImportMavenProject"/>
            <command id="org.eclipse.che.jdt.ls.extension.filestructure"/>
            <command id="che.jdt.ls.extension.libraryContentURL"/>
            <command id="che.jdt.ls.extension.libraryContentByPath"/>
            <command id="che.jdt.ls.extension.libraryEntry"/>
            <command id="che.jdt.ls.extension.libraryChildren"/>
            <command id="che.jdt.ls.extension.externalLibrariesChildren"/>
            <command id="che.jdt.ls.extension.externalLibraries"/>
            <command id="che.jdt.ls.extension.classpathTree"/>
            <command id="che.jdt.ls.extension.debug.findResourcesByFqn"/>
            <command id="che.jdt.ls.extension.debug.identifyFqnInResource"/>
            <command id="che.jdt.ls.extension.updateWorkspace"/>
            <command id="che.jdt.ls.extension.debug.findResourcesByFqn"/>
            <command id="che.jdt.ls.extension.debug.identifyFqnInResource"/>
            <command id="che.jdt.ls.extension.plain.createProject"/>
            <command id="che.jdt.ls.extension.plain.updateClasspath"/>
            <command id="che.jdt.ls.extension.plain.sourceFolders"/>
            <command id="che.jdt.ls.extension.findImplementers"/>
            <command id="che.jdt.ls.extension.pom.diagnostics"/>
            <command id="che.jdt.ls.extension.usages"/>
            <command id="che.jdt.ls.extension.configuration.getJavaCoreOptions"/>
            <command id="che.jdt.ls.extension.configuration.updateJavaCoreOptions"/>
            <command id="che.jdt.ls.extension.configuration.getPreferences"/>
            <command id="che.jdt.ls.extension.configuration.updatePreferences"/>
            <command id="che.jdt.ls.extension.import.organizeImports"/>
        </delegateCommandHandler>
    </extension>
    <extension
            point="org.eclipse.jdt.ls.core.contentProvider">
        <contentProvider
                cacheable="false"
                class="org.eclipse.che.jdt.ls.extension.core.internal.externallibrary.LibraryContentProvider"
                id="che.lib.contentProvider"
                priority="10000"
                uriPattern="chelib://.*">
        </contentProvider>
    </extension>
</plugin>
